* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  width: 100%;
  background: #ffffff;
  padding: 15px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #ddd;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-left a,
.nav-right a {
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
  color: #333;
  font-weight: 500;
}

.nav-left a:hover,
.nav-right a:hover {
  color: #0d6efd;
}
body {
  margin-top: 90px;
}

footer {
  width: 100%;
  background-color: #f8f9fa;
  padding: 40px 60px;
  margin-top: 60px;
  border-top: 1px solid #ddd;
}

footer h2,
footer h3 {
  margin-bottom: 10px;
  color: #333;
}

footer p {
  margin: 5px 0;
  font-size: 16px;
}

footer a {
  text-decoration: none;
  color: #0d6efd;
  margin-right: 15px;
  font-size: 16px;
}

footer a:hover {
  text-decoration: underline;
}

footer .copyright {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}
